ion-item {
  --background: var(--ion-color-step-150, #f1f1f1);
  --color: var(--ion-text-color, #000);
  border-radius: 5px;
  margin-bottom: 10px;
}

.header {
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;

  .subtitulo {
    color: var(--ion-color-medium);
    font-size: 0.9rem;
  }

  .titulo {
    font-size: 2rem;
    font-weight: bold;
  }
}

.cadastro {
  position: absolute;
  bottom: 20px; /* Adicionado um pequeno espaçamento do fundo */
  left: 0;
  right: 0;
  text-align: center;
  color: var(--ion-text-color);

  p {
    font-size: 0.9rem;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: var(--ion-color-primary);
  }
}

.recupere {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

  a {
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--ion-color-primary);
  }
}

ion-button {
  margin-top: 35px;
}

ion-icon {
  font-size: 1.4rem;
  color: var(--ion-color-medium);
}

ion-title {
  font-weight: bold;
}
